$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 0.6s;

:root {
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   margin: 0;
   padding: 0;
   background: white;
   color: black;
}

.container {
   margin-left: 5rem;
   height: 100vh;
   display: grid;
   grid-template-columns: 5fr 1fr;
   grid-template-rows: 1fr 6fr 4fr 1fr;
   grid-template-areas:
      "header    header"
      "main      aside"
      "section   section"
      "footer    footer";
}
